* {
	padding: 0;
	margin: 0;
	font-family: 'Microsoft YaHei', 微软雅黑, STHeiti, sans-serif;
	border-style: none;
}

body {
	background-color: #fdfdfd;
	font-size: 14px;
}

span {
	display: block;
}


ul {
	list-style: none;
}

a {
	display: block;
	text-decoration: none;
	color: #ffffff;
}

a:hover {
	text-decoration: none;
}

a:focus {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

a:visited{
	text-decoration: none;
}


/*************************    header start   *******************************/

.header {
	background-color: #272f28;
	width: 100%;
	height: 100px;
	color: #ffffff;
}

.header .main {
	margin: 0 auto;
	width: 960px;
	height: 100px;
}

.header .main .logo {
	float: left;
	padding: 10px 0 0 20px;
	width: 80px;
	height: 80px;
}

.header .main .slogan {
	float: left;
	padding: 5px 0 0 20px;
	
}

.header .main .slogan  .title{
	font-size: 32px;
	
	padding-top: 5px;
}

.header .main .slogan  .desc{
	font-size: 14px;
	padding-top: 5px;
}

.header .main .nav {
	float: right;
	padding: 35px 20px 0 0;
	font-size: 16px;
	
}

.header .main .nav  li{
	float: left;
	text-align: center;
	padding: 0 0 0 30px; 
}

.header .main .nav  a{
	color: #ffffff;
}

/*************************    header end   *******************************/



/*************************    footer  start   *******************************/

.footer {
	clear: both;
	width: 100%;
	height: 170px;
	background-color: #272f28;
	color: #ffffff;
	margin-top: 50px;
}

.footer .footer-main {
	width: 960px;
	margin: 0 auto;
}

.footer .footer-nav {
	float: left;
	padding: 30px 100px 0 0;
}

.footer .footer-nav .nav-header {
	font-size: 18px;
}

.footer-nav ul {
	padding-top: 20px;
}

.footer-nav  a {
	padding-bottom: 10px;
}

.footer .telephone {
	float: right;
	text-align: right;
	padding-top: 30px;
}

.telephone #phone-num {
	font-size: 23px;
	padding: 0 5px 10px 0;
}


/*************************    footer  end   *******************************/

.clear {
	clear: both;
}

